{% extends "base.html" %}

{% block title %}Screens{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Screens</h1>
</div>

<p>This is a read-only table - to edit this, you need to be an admin</p>
<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Slideshow</th>
        <th scope="col">Master</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for screen in screens %}
      <tr>
        <th scope="row">{{ screen.id }}</th>
        <td>{{ screen.name }}</td>
        <td>{{ screen.location }}</td>
        <td>{{ screen.slideshow.name }}</td>
        <td>{{ screen.master.name }}</td>
        <td><a href="/view/screen/{{ screen.id }}" target="_blank" type="button" class="btn btn-success btn-sm">View slideshow</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{%endblock%}