{% extends "base.html" %}

{% block title %}Slide templates{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Slide templates</h1>
</div>
<p>This is a read-only table - to edit this, you need to be an admin</p>
<table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Usage</th>
      </tr>
    </thead>
    <tbody>
      {% for template in slide_templates %}
      <tr>
        <th scope="row">{{ template.id }}</th>
        <td>{{ template.name }}</td>
        <td>{{ template.usage }} slides</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{%endblock%}