<html>
    <head>
        <title>tinbox - Slideshow - {{ screen.name }}</title>
        <link rel="stylesheet" href="/static/css/slideshow.css">
        <link rel="icon" href="/static/tinbox-white.png" sizes="32x32" type="image/png">
    </head>
    <body>
        <video autoplay muted loop id="backgroud_video">
            <source src="/static/videos/infoskjerm_2025.mp4" type="video/mp4">
          </video>
        <div id="slide-a"></div>
        <div id="slide-b"></div>
    <script src="/static/js/slideshow.js"></script>
    <script>
        // Start slideshow :-)
        run({{ screen.id }});
    </script>
    </body>
</html>